name: Windows Build

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "9.3.1"

      - name: Build with Gradle
        run: gradle build shadowJar createExe --info

      - name: Upload Windows Executable
        uses: actions/upload-artifact@v4
        with:
          name: TVRenamer-Windows-Exe
          path: build/launch4j/TVRenamer.exe

      - name: Upload Integrated JARs
        uses: actions/upload-artifact@v4
        with:
          name: TVRenamer-JAR
          path: |
            build/libs/tvrenamer.jar
            build/libs/tvrenamer-*.jar
