name: Windows Build

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.5'

    - name: Build with Gradle
      run: gradle build createExe --info

    - name: Create Custom JRE with jlink
      run: |
        $JAVA_HOME = $env:JAVA_HOME_17_X64
        & "$JAVA_HOME\bin\jlink" --add-modules java.base,java.desktop,java.logging,java.xml,java.scripting,java.management,java.naming,jdk.unsupported --output build/launch4j/jre --strip-debug --compress 2 --no-header-files --no-man-pages

    - name: Package Release Zip
      run: |
        Compress-Archive -Path build/launch4j/* -DestinationPath build/TVRenamer-Windows.zip

    - name: Upload Zip Artifact
      uses: actions/upload-artifact@v4
      with:
        name: TVRenamer-Windows-Zip
        path: build/TVRenamer-Windows.zip
